# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
exercises/exercises01/exercises01-SDS385.aux
exercises/exercises01/exercises01-SDS385.log
exercises/exercises01/exercises01-SDS385.out
exercises/exercises01/exercises01-SDS385.synctex.gz
exercises/exercises02/exercises02-SDS385.aux
exercises/exercises02/exercises02-SDS385.log
exercises/exercises02/exercises02-SDS385.out
exercises/exercises02/exercises02-SDS385.synctex.gz
exercises/exercises03/exercises03-SDS385.aux
exercises/exercises03/exercises03-SDS385.log
exercises/exercises03/exercises03-SDS385.out
exercises/exercises03/exercises03-SDS385.synctex.gz
